/* base */
body {
    min-width: 960px;

    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, serif;
    font-size: 16px;
    font-weight: 500;
}

a {
    text-decoration: none;
  }

img {
    max-width: 100%;
    height: auto;
  }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
    background-color: #eeeeee;
    padding-top: 50px;
}

.container {
    max-width: 1160px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.button {
    display: block;
    background-color: #fb565a;
    width: 160px;
    height: 50px;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: 0.5s all;
}

.button:hover,
.button:focus,
.button:active {
  transition: 0.5s all;
  background-color: #9e383a;
}

.button_green:hover,
.button_green:focus,
.button_green:active {
  transition: 0.5s all;
  background-color: #017a46;
}

.button_yellow:hover,
.button_yellow:focus,
.button_yellow:active {
  transition: 0.5s all;
  background-color: #8b752b;
}

.button_main {
    width: 240px;
    margin-top: 39px;
}

.button_green {
    background-color: #00ca74;
}

.button_yellow {
    background-color: #efc84a;
}

/* main */
.main__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__navigation__list {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
}

.main__navigation__link {
    color: #000000;
}

.main__navigation__item {
    padding-right: 47px;
}

.main__navigation__item:nth-child(4) {
    padding-right: 0px;
}

.main__navigation__link:hover,
.main__navigation__link:focus,
.main__navigation__link:active {
  color: #5a5a5a;
}

.main__navigation__user {
    list-style-type: none;
    text-transform: uppercase;
}

.main__navigation__user a {
    color: #000000;
}

.carousel {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.wrapper__title {
    font-size: 55px;
    line-height: 52px;
}

.wrapper__descr {
    color: #283136;
    margin-top: 28px;
}

.carousel__img {
    margin-left: 55px;
    margin-top: 18px;
}

.features__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.features__item {
    list-style-type: none;
}

.features__title {
    margin-top: 17px;
    margin-bottom: 17px;
}

.features__descr {
    margin-bottom: 31px;
}